.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.path {
  font-size: var(--font-size-s);
  color: var(--color-text-primary);
}

.summary {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
  text-transform: capitalize;
}

.section-title {
  padding-bottom: 8px;
  font-size: var(--font-size-m);
  color: var(--color-text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;

  padding-bottom: 16px;
}

.actions {
  display: flex;
  gap: 10px;
  padding-top: 8px;
}

.response {
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-background);
}

.status {
  font-size: var(--font-size-s);
}

.responses-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 0;

  list-style: none;
}
