.header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 8px;
}

.title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;

  padding-bottom: 16px;
}

.actions {
  display: flex;
  gap: 10px;
  padding-top: 8px;
}
