.button[class*='MuiButton-root'] {
  min-height: 34px;
  padding: 6px 12px;
  border-radius: var(--border-radius-s);

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
  text-transform: none;

  transition:
    background 0.2s ease,
    box-shadow 0.2s ease,
    color 0.2s ease;
}

.ghost[class*='MuiButton-root'] {
  color: var(--color-text-secondary);
}

.ghost[class*='MuiButton-root']:hover {
  color: var(--color-text-primary);
  background-color: var(--color-border);
}

.primary[class*='MuiButton-root'] {
  color: var(--color-text-inverse);
  background: var(--gradient-button-primary);
  box-shadow: 0 4px 6px var(--shadow-color);
}

.primary[class*='MuiButton-root']:hover {
  background: var(--gradient-button-primary-hover);
  box-shadow: 0 4px 6px var(--shadow-color);
}
